@using Dominio

<h1>Filtrar Actividades por fecha y categoria</h1>
@if (@ViewBag.Mensaje != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Mensaje
    </div>
}
<form method="post" action="FiltrarActividades">
    <div class="form-group col-md-3">
        <label>Ingrese primera fecha:</label>
        <input type="date" class="form-control" name="desde" required>
    </div>
    <div class="form-group col-md-3">
        <label>Ingrese segunda fecha:</label>
        <input type="date" class="form-control" name="hasta" required>
    </div>
    <br>
    <div class="form-group col-md-4">
        <label>Nombre categoria:</label>
        <select class="form-control" name="idCategoria">
            <option value="-1"> -- Seleccione -- </option>
            @foreach (Categoria unC in ViewBag.Categorias)
            {
                <option value="@unC.Id">  @unC.Nombre </option>

            }
        </select>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Buscar" class="btn btn-primary">
    </div>
</form>

@if(@ViewBag.Actividades!=null)
{
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Categoria</th>
            <th scope="col">Fecha</th>
            <th scope="col">Lugar</th>
            <th scope="col">Edad Minima</th>
            <th scope="col">Precio Final</th>
            <th scope="col"> Cantidad Me gusta</th>
        </tr>
    </thead>
    <tbody>
    @foreach (Actividad unA in @ViewBag.Actividades)
    {
        <tr>
            <th scope="row">@unA.Id</th>
            <td>@unA.Nombre</td>
            <td>@unA.NombreCategoria()</td>
            <td>@unA.FechaYhora</td>
            <td>@unA.Lugar.Nombre</td>
            <td>@unA.EdadMinima</td>
            <td>@unA.PrecioActividad()</td>
            <td>@unA.MeGusta</td>
        </tr>
    }
    </tbody>
</table>
}





