@using Dominio
@model Compra

<div class="m-5 container col-auto">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h2>Comprar Actividad</h2>
            </div>

            @if (ViewBag.Mensaje != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Mensaje
                </div>
            }

            <div class="card-body">
                <form action="/compra/compra/" method="post">

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  Id Actividad  </span>
                        </div>
                        <input type="text" class="form-control-plaintext text-center border border-secondary" name="idActividad" value="@ViewBag.IdActividad" readonly>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Nombre Actividad  </span>
                        </div>
                        <input type="text" class="form-control-plaintext text-center border border-secondary" value="@ViewBag.NombreActividad" readonly>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Categoria </span>
                        </div>
                        <input type="text" class="form-control-plaintext text-center border border-secondary" value="@ViewBag.NombreCategoria" readonly >
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Fecha y hora </span>
                        </div>
                        <input type="datetime" class="form-control-plaintext text-center border border-secondary"  value="@ViewBag.FechaYHora" readonly>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Precio $ </span>
                        </div>
                        <input type="number" class="form-control-plaintext text-center border border-secondary" value="@ViewBag.Precio" readonly>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Cantidad Entradas </span>
                        </div>
                        <input type="number" class="form-control text-center"  name="cantidadEntradas" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Comprar" class="btn btn-secondary float-right">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



